<div id="form">

    <div id="logInfo">
        <input name="email" type="text" placeholder="Email">
        <input name="password" type="password" placeholder="Password">
    </div>
    <button id="submit" (click) = "loginGoogle()">Login</button>
    <div id="err">
            <p id="errNoUser">Wrong email or password</p>
            <p id="errServ">Server error, try again</p>
            <p id="errUser">All fields are important</p>
            <p id="loading">Loading...</p>
    </div>
    <p id="message">Not registered? <a href="signup.html">Create an account</a></p>
</div>